@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-webp .encuentros {
    background-image: url('../img/grande/cem-img-1.jpg');
}
.webp .encuentros {
    background-image: url('../img/grande/cem-img-1.webp');
}

    .encuentros {
        // background: url("../img/grande/cem-img-1.jpg")fixed center/cover; 
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        height: 40rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: end; 
    }
    .encuentros::before {
        content: "";
        height: 100%;
        width: 100%;
        //background: darken(v.$noche, 2%);
        background: v.$noche;
        opacity: 0.4; 
        &.encuentros-cem {
            opacity: 0.8;
        }
    }
.encuentros-content {
    padding: 0.16rem;
    padding-top: 9rem;
    position: absolute;
    width: 100%;
    max-width: 70rem;
    text-align: center;
    color: v.$perla;
    margin-bottom: 8rem;
    text-shadow: -2px 2px 3px v.$noche;

    picture {
        max-width: 10rem;
        width: 100%;
        height: auto;
        vertical-align: middle;
        display: inline-block;
        -webkit-filter: drop-shadow(-2px 2px 3px v.$noche);
        filter: drop-shadow(-2px 2px 3px v.$noche);
    }
    h2 {
        margin: .5rem 0;
        line-height: .8;
        font-size: 3rem;
        font-weight: v.$bold;
    }
    p {
        margin: 0;
        line-height: 1;
        font-size: 2rem;
        font-weight: v.$regular;
        color: v.$perla;
        margin-bottom: 2rem;
    }
    @include m.tablet {
        h2 {
            font-size: 4rem;
        }
        p {
            font-size: 2.2rem;
        }
    }
    .btn-encuentros{
        @include m.boto(v.$roja, v.$perla);
    }

}
    
.img-encuentros {
    overflow: hidden;

    &:hover {
        bottom: -36px;
        opacity: 1;
    }
}
    
@include m.brillo(50%);